  <div class="modal"style="word-wrap: break-word; width:100%; right:0; top:44px;left:0;height:90%; overflow: visible;
    min-height: 240px;">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">{{data.selected.name}}</h1>
        <button class="button button-clear button-primary" ng-click="closeModal()">
            <span class="icon ion-ios7-close-outline"></span>
        </button>
    </ion-header-bar>
    <ion-content has-header="true" has-footer="false" scroll="true" style="margin-left:30px; margin-right:30px;margin-top:30px;margin-bottom:60px;">
    <p>{{data.selected.bio}}</p>

    </ion-content>
</div>