<div class="modal" style="word-wrap: break-word; width:100%; right:0; top:44px;left:0;height:90%; overflow: visible;
    min-height: 240px;">
  <ion-header-bar class="bar bar-header bar-light">
    <h1 class="title">MEN'S</h1>
    <button class="button button-clear button-primary" ng-click="closeMensModal()">
      <span class="icon ion-ios7-close-outline"></span>
    </button>
  </ion-header-bar>
  <ion-content has-header="true" has-footer="false" scroll="true" style="margin-left:30px; margin-right:30px;margin-top:30px;margin-bottom:60px;">
 <p>
      Our namesake eschewed the former and lived for the latter. Perry Ellis International is vested in that tradition today, tying it all together with a robust portfolio of men’s sportswear brands, while maintaining an overarching focus as sharp as a finely tailored suit. Our goal is simple: to touch upon all aspects of men’s lifestyles. We design, source, market and license sportswear for office MVPs and edgy hipsters, metropolitan men, dressy guys with modern wit and all those millennials who are proud to Be An Original. Not to mention passionately catering to the largest ethnic minority in the U.S. with an unmatched portfolio of Latin brands. This isn’t fashion, this is style. For every lifestyle.
    </p>

  </ion-content>
</div>