<div class="modal"style="word-wrap: break-word; width:100%; right:0; top:44px;left:0;height:90%; overflow: visible;
    min-height: 240px;">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">GEORGE FELDENKREIS</h1>
        <button class="button button-clear button-primary" ng-click="closeGeorgeModal()">
            <span class="icon ion-ios7-close-outline"></span>
        </button>
    </ion-header-bar>
     <ion-content>
        <img src="images/modal/george_nosign.jpg" class="modal-image">
        <p class="modal-image-text">George Feldenkreis, Chairman and CEO, is the visionary who leads Perry Ellis International. Born in Havana, Cuba, to Russian immigrants, Feldenkreis moved to Miami in 1961 and founded Supreme International, importing school uniforms and Guayaberas, a 4-pocket tropical-inspired shirt. Supreme International went public in 1993 and became Perry Ellis International (PEI) after acquiring the powerhouse brand in 1999.
            <br />
            <br />Mr. Feldenkreis currently sits on the Board of Trustees for the University of Miami, the Simon Wiesenthal Center, and the Greater Miami Jewish Federation and is a benefactor of numerous medical, educational, social and philanthropic organizations including the United Way, Mount Sinai Medical Center, the Memorial Sloan-Kettering Cancer Center, the Jewish Community Center and the Stanford Ziff Jewish Museum, among others. He also endowed the George Feldenkreis Program in Judaic Studies at the University of Miami and the George Feldenkreis Program to Foster Academic Excellence at the Technion Israel Institute of Technology.
            <br />
            <br />He has been honored numerous times, including the Lincoln-Marti Award for his role in the Cuban Refugee Program, the David Ben Gurion Award by the Cuban Hebrew Bond Committee, the Silver Medallion for Service to Humanity by the National Conference for Community and Justice, and the Man of the Year award from the American Apparel and Footwear Association. He has been inducted into the South Florida Business Hall of Fame, has received the Ernst and Young Entrepreneur of the Year Award, was named Father of the Year by the National Father’s Day Council, Outstanding CEO by the Greater Miami Chamber of Commerce, and the Nova Southeastern University Wayne Huizenga School of Business and Entrepreneurship Hall of Fame.
            <br />
            <br />Mr. Feldenkreis holds a Juris Doctorate from the University of Havana, an honorary Doctor of Laws from Babson College and an honorary Associate of Arts and Letters from Miami Dade Community College. His numerous speaking engagements have included commencements and keynote addresses at Harvard University, the Wharton School of the University of Pennsylvania, Babson College, Yeshiva University and the Miami International University of Art and Design.
            <br/>
        </p>

    </ion-content>
</div>