<div class="modal"style="word-wrap: break-word; width:100%; right:0; top:44px;left:0;height:90%; overflow: visible;
    min-height: 240px;">
    <ion-header-bar class="bar bar-header bar-light">
        <h1 class="title">OSCAR FELDENKREIS</h1>
        <button class="button button-clear button-primary" ng-click="closeOscarModal()">
            <span class="icon ion-ios7-close-outline"></span>
        </button>
    </ion-header-bar>
    <ion-content class="padding">
        
            <img src="images/modal/oscar_nosign.jpg" class="modal-image"><p class="modal-image-text">Oscar Feldenkreis served as Vice President of Perry Ellis International (PEI) since 1980 (the company then named Supreme International). Immediately expanding the scope of business beyond private-label distribution, PEI successfully branched into branded men’s and women’s apparel. He was elected President and Chief Operating Officer (COO) in February 1993 and has served as Vice Chairman of the Board since March 2005. His extensive experience in the apparel business, including marketing, branding, sales and manufacturing, has enabled PEI to become one of the leaders in the industry.
            <br />
            <br />Mr. Feldenkreis is involved in numerous local and national civic causes, including the Leadership Council of the Greater Miami Jewish Federation, Israel Bonds, the Kosher Food Bank and the United Way, and serves on the Board of Directors of the Adrienne Arsht Center for the Performing Arts. He is also a member of the Board of Directors of the Fashion Institute of Technology’s (FIT) Educational Foundation for the Fashion Industries, sits on the Advisory Board of My Mela and is an active Advisory Member for the University of Pennsylvania's Wharton School of Business Retail. His philanthropic involvement extends to local and national civic causes, including the United Way, Temple Menorah, Young Presidents Organization (YPO/WPO) and many others.
            <br />
            <br />Most recently, Oscar was honored with the National Human Relations award given by the American Jewish Committee, the 2008 Entrepreneur of the Year Award from the University of Pennsylvania’s Wharton School of Business, the 2010 Achievement Award from Kids in Distressed Situations (K.I.D.S.), and the 2012 Father of the Year Award from Save the Children.
            <br/>
        </p>

    </ion-content>
</div>